*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oceanic Drift';
}

body
{
    background-image: url('Wallpaper 5.jpg');
    
}

.Inner_Container
{
    padding-top: 20px;
}

.AMTitle
{
    text-align: center;
    color: rgb(225, 0, 0);
    padding: 1rem;
    position: relative;
}

.AMTitle:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.Trait_Container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.Traits
{
    padding: 1rem;
    color: #ffffff;
    cursor: pointer;
}

.Traits p 
{
    font-size: 25px;
    font-family: 'Lucida Sans';
}

.Traits:hover > .TraitTitle:after, .Traits:hover > .TraitTitle:before
{
    width: 35px;
}

.TraitTitle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.TraitTitle h3
{
    color: rgb(225, 0, 0);
    font-size: 35px;
    margin: 30px;
    font-style: oblique;
}

.TraitTitle:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: 0.4s;
}

.TraitTitle:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: 0.4s;
}

@media screen and (max-width: 1200px)
{
    .Trait_Container
    {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px)
{
    .Trait_Container
    {
        grid-template-columns: 1fr;
    }
}




