*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oceanic Drift';
    list-style: none;
}

body
{
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*First Section: About Me*/

.Inner_Container
{
    padding-top: 20px;
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.AMTitle
{
    text-align: center;
    color: rgb(215, 0, 0);
    padding: 1rem;
    position: relative;
}

.AMTitle h1
{
    font-size: 50px;
}

.AMTitle:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.Trait_Container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.Traits
{
    padding: 1rem;
    color: black;
    cursor: pointer;
    background-color: gray;
    border-radius: 35px;
}

.Traits p 
{
    font-size: 25px;
    font-family: 'Lucida Sans'; 
}

.Traits:hover
{
    background-color: rgb(0, 90, 126);
}

.TraitTitle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.TraitTitle h3
{
    color: rgb(215, 0, 0);
    font-size: 35px;
    margin: 30px;
    font-style: oblique;
}

.TraitTitle:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: 0.4s;
}

.TraitTitle:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: 0.4s;
}


@media screen and (max-width: 1200px)
{
    .Trait_Container
    {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
     
}

@media screen and (max-width: 650px)
{
    .Trait_Container
    {
        grid-template-columns: 1fr;
    }
    .Inner_Container
    {
        padding-bottom: 1400px;
    } 
}

/*Second Section: Programming Experience*/

.Second_Container
{
    padding-top: 2px;
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}


.PETitle h2, .ExtraTitle h2, .ContactMe_Container h2
{
    font-size: 40px;
    text-align: center;
    position: relative;
    color: rgb(215, 0, 0);
}

.Language_Container
{
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 30px;
    font-size: 1.2rem;
}

.SkillLevel
{
    float: center;
    width: 100%;
    border-radius: 55px;
    background-color: rgb(92, 91, 91);
}

.Skill
{
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
}

@keyframes JavaSlider
{
    from{width: 0%;}
    to{width: 95%;}
}

@keyframes CPPSlider
{
    from{width: 0%;}
    to{width: 80%;}
}

@keyframes CSharpSlider
{
    from{width: 0%;}
    to{width: 75%;}
}

@keyframes PythonSlider
{
    from{width: 0%;}
    to{width: 95%;}
}

.Java 
{
    width: 95%; 
    background-color: white; 
    animation-name: JavaSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 
.CPP 
{
    width: 80%; 
    background-color: rgb(215, 0, 0); 
    animation-name: CPPSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 
.CSharp
{
    width: 75%; 
    background-color: black; 
    animation-name: CSharpSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
}  
.Python 
{
    width: 95%; 
    background-color: #004594; 
    animation-name: PythonSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 



.ExtraTitle
{
    text-align: center;
    color: rgb(215, 0, 0);
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.ExtraTitle h2:after, .PETitle h2:after, .CMTitle h2:after, .StatsTitle h2:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.Other_Container
{
    
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    font-size: 1.2rem;
}

.OtherSkillLevel
{
    float: center;
    border-radius: 55px;
    width: 100%;
    background-color: rgb(92, 91, 91);
}

.Skill
{
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: rgb(0, 156, 117); 
}

@keyframes HTMLSlider
{
    from{width: 0%;}
    to{width: 87%;}
}

@keyframes CSSSlider
{
    from{width: 0%;}
    to{width: 95%;}
}

@keyframes JavaScriptSlider
{
    from{width: 0%;}
    to{width: 80%;}
}


.HTML 
{
    width: 87%; 
    background-color: white; 
    animation-name: HTMLSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 
.CSS 
{
    width: 95%; 
    background-color: rgb(175, 0, 0); 
    animation-name: CSSSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 
.JavaScript
{
    width: 80%; 
    background-color: black; 
    animation-name: JavaScriptSlider;
    animation-duration: 3s;
    animation-delay: 5s;
    font-family: 'Lucida Sans';
    font-weight: 700;
} 

.Language_Container h4, .Other_Container h4
{
    color:#2ecc71;
    font-size: 30px;
}

@media screen and (max-width: 1200px)
{
    .Second_Container
    {
        padding-top: 25px;
    }
     
}

@media screen and (max-width: 1050px)
{
    .Second_Container
    {
        padding-top: 150px;
    }
}

@media screen and (max-width: 915px)
{
    .Second_Container
    {
        padding-top: 300px;
    }
}

@media screen and (max-width: 650px)
{
    .Second_Container
    {
        padding-top: 125px;
    }
}

@media screen and (max-width: 470px)
{
    .Second_Container
    {
        padding-top: 300px;
    }
}

/*Thrid Section: Contact Me*/

.ContactMe_Container
{
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    transition: 0.5s;
}

.ContactMe_Container a
{
    font-size: 25px;
    font-style: italic;
}

.CMTitle h2
{
    padding-top: 125px;
}

.EmailDetail
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    background-color: rgb(92, 91, 91);
    border-radius: 35px;
    width: 50%;
    margin-top: 2%;
}

.EmailDetail a
{
    margin-left: 27%;
}

.EmailDetail h5
{
    font-size: 35px;
    color: rgb(215, 0, 0);
    margin-left: 15%;
    margin-bottom: 20px;
}

.SocialMediaContainer
{
    width: 100%;
    margin-left: 32%;
    height: 15vh;
    margin-top: 25px;
}

.SocialMediaContainer ul
{
    display: inline-flex;
}

.SocialMediaContainer ul li
{
    position: relative;
    display: block;
    color: rgb(215, 0, 0);
    font-size: 35px;
    height: 65px;
    width: 65px;
    background: #171515;
    line-height: 60px;
    border-radius: 30%;
    margin: 25px 25px 0px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.SocialMediaContainer ul li:before{
    position: absolute;
    content: '';
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .3s;
  }

  .SocialMediaContainer  ul li:nth-child(1):before{
    background: #00ccff;
  }
  .SocialMediaContainer ul li:nth-child(2):before{
    background: #cc02ff;
  }

  .SocialMediaContainer ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
  }
  .SocialMediaContainer ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #00ccff;
  }
  .SocialMediaContainer ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #cc02ff;
  }

  .SocialMediaContainer ul li:nth-child(1):hover{
    color: #00ccff;
    box-shadow: 0 0 15px #00ccff;
  }
  .SocialMediaContainer ul li:nth-child(2):hover{
    color: #cc02ff;
    box-shadow: 0 0 15px #cc02ff;
  }


  /*Navigation Bar*/

.navbar
{
    height: 7vh;
    text-align: left;
    align-items: center;
    text-transform: uppercase;
}
.nav-link
{
    margin-top: 1px;
}

.navbar ul li:hover
{
    transform: scale(1.1);
}


/*Stats API*/

.API_Container
{
    width: 100%;
    height: 55vh;
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




